.user-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding-left: 0;


    .user-list-enter-active,
    .user-list-leave-active {
        transition: all 0.5s ease;
    }

    .user-list-enter-from,
    .user-list-leave-to {
        opacity: 0;
        transform: translateX(5px);
    }
}